[Desktop Entry]
Name=dictionary
Comment=dictionary for desktop built with nativefier (electron)
Exec=dictionary-nativefier
Icon=dictionary-nativefier
Encoding=UTF-8
StartupWMClass=dictionary-nativefier
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;
