[Desktop Entry]
Name=illef-board
Comment=illef-board for desktop built with nativefier (electron)
Exec=data-board-nativefier https://github.com/users/illef/projects/1/
Icon=data-board-nativefier
Encoding=UTF-8
StartupWMClass=illef-board-nativefier
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;
