[Desktop Entry]
Name=meet
Comment=meet for desktop built with nativefier (electron)
Exec=meet-nativefier
Icon=meet-nativefier
Encoding=UTF-8
StartupWMClass=meet-nativefier
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;
